body {
    background-color: rgb(237,238,237);
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(15,173,166);
    margin-left: 5%;
    padding: 10px;
}

#navbar-brand-color {
    color: white;
}

.navbar-nav {
    color: gray;
    margin-left: 72%;
}

.container-fluid {
    min-height: 100vh;
}

.row {
    margin: 3%;
}

.main, .side {
    background-color: white;
    padding-right: 3%;
    padding-left: 3%;
}

.main {
    float: left;
}

#summary-image {
    float: left;
    width: 35%;
    height: auto;
}

#plot-image {
    width: 100%;
}

.compare-image {
    width: 100%;
}

.side {
    float: right;
}

h2 {
    padding-bottom: 25px;
}

h4 {
    text-align: center;
}

h2, h3, h4 {
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(15,173,166);
}

.analysis {
    line-height: 2;
}

#side-image-1, #side-image-2, #side-image-3, #side-image-4 {
    width: 48%;
    height: auto;
}

.active-viz {
    border: 2px solid rgb(15,173,166);
}

.background-footer {
    background-color: rgb(15,173,166);
    height: 10px;
    width: 100%;
}

.copyright {
    background-color: rgb(102,102,102);
    height: 60px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 15px;
}


@media (max-width: 767.98px) {
    
    #summary-image {
        width: 100%;
        height: auto;
    }
    
    .side {
        padding-bottom: 3%;
    }

    h2 {
        padding-bottom: 0;
        padding-top: 3%;
        font-size: 175%;
    }

    h3 {
        padding-top: 3%;
        font-size: 150%;
    }
    
    h4 {
        padding-top: 3%;
        font-size: 125%;
    }
    
    .analysis {
        line-height: 1.5;
    }
    
    #side-image-1, #side-image-2, #side-image-3, #side-image-4 {
        width: 24%;
        height: auto;
    }

    .active-viz {
        border: 1.5px solid rgb(15,173,166);
    }
    
    .background-footer {
        background-color: rgb(15,173,166);
        height: 10px;
        width: 100%;
    }
    
    .copyright {
        background-color: rgb(102,102,102);
        height: 60px;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 15px;
    }
        
}